<form id="tweet_form" action="/tweet" method="post">
<textarea type="text" name="user[tweet]" placeholder="tweet here"></textarea><hr>
<input type="submit" value="Tweet">
</form>
<hr>
<div id="show_tweet">

</div>
